/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/



@font-face {
    font-family: 'PPNeueMontreal-Book';
    src: url(../fonts/PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: 'PPNeueMontreal-Medium';
    src: url(../fonts/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: 'Univers';
    src: url(../fonts/UniversLTStd-Light.otf);
}

@font-face {
    font-family: 'PPNeueMontreal-Bold';
    src: url(../fonts/PPNeueMontreal-Bold.otf);
}


body {

    background-color: whitesmoke;

    font-family: 'PPNeueMontreal-Book', monospace;
    /*Changed default font to Monaco - monospace 
      Learned from: https://www.w3schools.com/css/css_font.asp*/

    /* padding: 2rem; */

    overflow-x: hidden;
}

h1 {
    color: black;
    font-family: 'Univers', serif;
    font-size: 1.7em;
    /* margin: 2rem; */

}

h2 {
    color: black;
    font-size: 1.5em;
    font-family: 'Univers', serif;
}

h3 {
    color: black;
    font-family: 'PPNeueMontreal-Bold', serif;
    /* margin-top: 1rem; */
    font-size: 1em;
}

p {

    font-family: 'PPNeueMontreal-Book', sans-serif;
    /* Shortened default width of paragraph but made sure it was responsive (did font too) 
      learned from: https://css-tricks.com/viewport-sized-typography/*/
    width: 50vw;
    /* font-size: 2vmin; */
    /*Changed paragraph margins to 10
      
      LEARNED FROM https://stackoverflow.com/questions/8184958/add-space-between-html-elements-only-using-css*/
    /* margin-top: 1rem; */
}

/* STYLE GUIDE */

.text-container {
    display: inline-block;
    vertical-align: middle;
}

.element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: black;
}

.nav {
    font-family: 'PPNeueMontreal-Book';
}

.button-nav {
    display: inline-block;
    padding: 0.5rem;
    color: black;
    /* background-color: #E39371; */
    text-decoration: none;
    border-radius: 0.25em;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.button-nav:hover,
.button-nav:focus {
    color: #E39371;
    /* background-color: #8BA895; */
}

.button-submit, .button-reset {
    font-family: 'PPNeueMontreal-Medium';
    display: inline-block;
    border-width: 0rem;
    padding: 0.5rem;
    color: black;
    background-color: #EAD5BC;
    text-decoration: none;
    border-radius: 0.25em;
    transition-property: background-color;
    transition-duration: 0.3s;
}


.button-submit:hover,
.button-submit:focus {

    color: #FFF2EC;
    background-color: #697F6B;
}

.button-reset:hover,
.button-reset:focus {

    color: #FFF2EC;
    background-color: #E39371;
}

code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
}


section {
    /* margin-top: 1rem; */
    /*Added space between sections
      Learned from: https://stackoverflow.com/questions/8184958/add-space-between-html-elements-only-using-css*/
}


.in-text-link {
    /* background-color: #dedede; */
    color: #000;
}

.in-text-link:hover {
    /* background-color: #aaa; */
    color: #697F6B;
    text-decoration: none;

    /*Added hover state to in-text link
      
      LEARNED FROM: https://zellwk.com/blog/style-hover-focus-active-states/*/
}

.in-text-link:focus {
    outline: lightskyblue;
    box-shadow: 0 0 0 3px lightskyblue;
    /*added focus state to in-text link
      LEARNED FROM https://zellwk.com/blog/style-hover-focus-active-states/*/
}

.radio-button {
    /* padding: 1rem;
    border-width: 0rem;
    border-radius: 0.25em;
    background-color: floralwhite;
    font-family: 'PPNeueMontreal-Book', sans-serif; */
}

a:hover,
a:focus {
    /* color: mediumseagreen; */
}


a img:hover,
a img:focus {
    opacity: 0.8;
    /* border: 3px solid;
      border-color: #8BA895; */
    /* padding: 2px; */
}


/* STYLED THE TEXT INPUT 
  
  LEARNT FROM: https://learn.shayhowe.com/html-css/building-forms/*/

.input {
    width: 27rem;
    padding: 50px 20px 50px 20px;
    background: #f0f0f2;
}

.submit-name {}

.submit-name .btn {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    margin-left: 6rem;

    background-color: #E39371;
    border: 0;
    color: black;
    cursor: pointer;

    border-radius: 0.25em;
    padding: 8px 16px;

}

.submit-name .btn:focus,
.submit-name .btn:hover {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    margin-left: 6rem;
    border-radius: 0.25em;
    background-color: blanchedalmond;
    border: 0;
    color: #010100;
    cursor: pointer;

    padding: 8px 16px;

}

.text-input {
    margin-bottom: 2rem;
    font-family: 'PPNeueMontreal-Book', sans-serif;
}

.text-input:hover {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    background: #dedede;

}

.text-input:focus {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    background: lightskyblue;

}


.input-label {}


/* Payment from https://www.w3schools.com/howto/howto_css_checkout_form.asp */

/* Style for form rows */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

/* Style for form columns */
.col-50 {
    flex: 50%;
    /* padding: 0 10px; */
}

.col-75 {
    flex: 75%;
    padding: 0 10px;
}

/* Style for form fields */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
    width: calc(100% - 24px);
    /* Adjust the width as needed */
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    background-color: #f2f2f2;
    /* padding: 5px 20px 15px 20px; */
    padding: 1em;
    border: 1px solid lightgrey;
    border-radius: 3px;
}


icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}




.checkout btn:hover {
    background-color: #45a049;
}

span.price {
    float: right;
    color: grey;
}

/* PRODUCTS */
.shop-heading-names {
    font-size: 4rem;
    margin-bottom: 0.5em;
}

.description-ahref {
    font-size: 0.7rem;
}

.product-grid-img{
    width: 30rem;
    height: 30rem;
}


/* Drop down menu product page */
/* Learned from: https://blog.hubspot.com/website/html-dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
   margin-top: 2rem;
    margin-right: 2rem;
}
.dropbtn {
  font-family: PPNeueMontreal-Medium;
  font-size: 14px;
  padding: 10px 20px;
    border: 0.5px solid black; 
  outline: none; 
  border-radius: 5px; 
  background-color: whitesmoke;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;

  padding: 12px 16px;
  z-index: 1;
  right: 0; 
}

.dropdown-content a {
  color: black;
  padding: 6px 0;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
    color: whitesmoke;
  background-color: #697F6B;
}

/*END of products*/

/* CART */
.cart-headings{
    margin-top: 2rem;
}



/* BRANDING */

.colour-teal {
    color: #B6CDB8;
}

.colour-olive {
    color: #AC9D76;
}

.colour-tan {
    color: #E39371;
}

.colour-off-white {
    color: #FFF2EC;
    background-color: #010100;
}

.art-direction-images {
    display: flex;
}

.art-direction-img {
    width: 20em;
    height: 100%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}

.Shop button {
    margin-left: 10rem;
}



.proceed-button {


    margin-top: 1rem;
    margin-left: 42rem;
    display: inline-block;
    border-width: 0rem;
    padding: 0.5rem;
    color: black;
    background-color: #E39371;
    text-decoration: none;
    border-radius: 0.25em;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.proceed-button:hover,
.proceed-button:focus {
    background-color: #8BA895;
}

/* END OF STYLE GUIDE */

/* INDEX / LANDING PAGE */

.header{
    display: flex;
    background-color: #fffaf0;
    width: 100%;
    margin: 0;
}

.logo {
    color: #8BA895;
    /* Adjust width as needed */
    height: 5em;
    width: auto;
    /* Maintain aspect ratio */
    padding: 1em;
    justify-content: center;
    align-items: center;
    /* Adjust padding as needed */
    margin: 2em;
    margin-right: 8.5em;
}

.logo-container {
    display: inline-block;
    vertical-align: middle;
    /* margin-right: 10em; */
    /* Adjust margin as needed */
}

/* NAVIGATION */


.nav-bar {
    background: #FFFAF0;
    display: flex;
    justify-content: center; 
    width: 100%; 
    padding: 0.5em; 
}
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar ul li {
  margin: 0;
}

.nav-bar ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap; 
}

.nav-bar ul li a:hover,
.nav-bar ul li a:focus {
  color: #E39371;
}



.nav-bar ul li a img {
  max-height: 20%; 
  max-width: 20%; 
}




/* END OF NAVIGATION */

/* FOOTER */

.footer{
    background: #FFFAF0;
    overflow: hidden;
    padding: 2rem;
    margin-top: 5rem;
}

.footer-flex{
    display: flex;
    /* background-color: #697F6B; */
}

#footer-section0{
    /* background-color: #45a049; */
}

#footer-section1{
    margin-left: 10%;
    right: 0;
    width: 15%;
    /* background-color: rgb(221, 73, 97); */
}

#footer-section2{
    flex: 0;
    width: 10%;
    /* background-color: #943ed5; */
}

.footer-header{
    color: #000;
    transition: color 0.5s ease;
}

.footer-link-text{
    color: #000;
    text-decoration: none;
    transition: color 0.5s ease;
    /* padding: 0; */
}

.footer-link-text:hover, .footer-link-text:focus, .footer-header:hover, .footer-header:focus{
    color: #E39371;
}


/* END OF FOOTER */

.shopping-cart-icon{
    width: 3em;
    align-items: center;
    display: inline-block;
    margin: 4em;
}

.index-hero .hero-image{
    background-image: url(../images/index-hero.png);
    background-size: cover;
    z-index: -1;
    padding-bottom: 30em;
    margin: 0;
}

.about-hero .hero-image{
    background-image: url(../images/beachgirl.jpg);
    background-size: cover;
    z-index: -1;
    padding-bottom: 20em;
    margin: 0;
}

.about-hero .hero-image h2{
    color: #FFFAF0;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    margin-left: 2em;
    /* background-color: #45a049; */
    text-align: left;
}

.event-hero .hero-image{
    background-image: url(../images/clothing-swap.png);
    background-size: cover;
    z-index: -1;
    padding-bottom: 20em;
    margin: 0;
}

.event-hero .hero-image h2{
    color: #000;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    margin-left: 2em;
    text-align: left;
}

.products-hero .hero-image{
    background-image: url(../images/hero.png);
    background-size: cover;
    z-index: -1;
    padding-bottom: 20em;
    margin: 0;
}

.products-hero .hero-image h2{
    color: #FFFAF0;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    margin-left: 2em;
    text-align: left;
}

.hero-text{
    color: #FFFAF0;
}

.hero-title{

}

.hero-cta{
    /* margin-top: -0.005em; */
    /* margin-left: 2rem; */

}

.hero-logo{
    margin-left: 1rem;
     margin-top: 1rem;

}

/* END OF INDEX / LANDING PAGE */

/* ABOUT PAGE */

.about-column {
  display: flex;
  justify-content: space-between; /* Distribute columns evenly */
  margin: 1rem; /* Add margin around the container */
}

.column {
  flex: 1; /* Each column takes up equal space */
}

.text-column {


  
  padding: 1rem; /* Add padding to the text column */
flex: 0.1;
}

.image-column {

  padding: 2rem; /* Add padding to the image column */
}

.image-column img {
    
  max-width: 100%; /* Ensure the image does not exceed its container */
  height: auto; /* Maintain aspect ratio */
}

.text-column p {
    margin-top: 2.5rem;
     margin-bottom: 2.5rem;

     line-height: 2.5; /* Increase line spacing (adjust as needed) */
  font-size: 1rem; /* Adjust the font size of the text (adjust as needed) */
}


/* END OF ABOUT PAGE */


/* EVENTS PAGE */


/* END OF EVENTS PAGE */


/* CONTACT PAGE */


/* END OF CONTACT */

/* LOGIN / CREATE ACCOUNT */

/* END OF LOGIN / CREATE ACCOUNT */

/* Responsive adjustments */
@media (max-width: 800px) {
    .proceed-button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 80%;
    }
}

.Shopcontainer {
    max-width: 80%;
    padding-top: 2rem;
    margin: 0 auto;

}


.Shop img {
    width: 250px;
    height: 250px;
    max-width: 100%;
}

.Shop {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .Shop {

        width: 100%;
    }
}

.product_bar {
    padding-top: 2rem;
    padding-top: 2rem;
}


/* Used https://www.w3schools.com/css/css_rwd_intro.asp to learn responsiveness*/
/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/



@font-face {
    font-family: 'PPNeueMontreal-Book';
    src: url(../fonts/PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: 'PPNeueMontreal-Medium';
    src: url(../fonts/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: 'Univers';
    src: url(../fonts/UniversLTStd-Light.otf);
}

@font-face {
    font-family: 'PPNeueMontreal-Bold';
    src: url(../fonts/PPNeueMontreal-Bold.otf);
}


body {

    background-color: whitesmoke;

    font-family: 'PPNeueMontreal-Book', monospace;
    /*Changed default font to Monaco - monospace 
      Learned from: https://www.w3schools.com/css/css_font.asp*/

    /* padding: 2rem; */


}

h1 {
    color: black;
    font-family: 'Univers', serif;
    font-size: 1.7em;
    /* margin: 2rem; */

}

h2 {
    color: black;
    font-size: 1.5em;
    font-family: 'Univers', serif;
}

h3 {
    color: black;
    font-family: 'PPNeueMontreal-Bold', serif;
    /* margin-top: 1rem; */
    font-size: 1em;
}

p {

    font-family: 'PPNeueMontreal-Book', sans-serif;
    /* Shortened default width of paragraph but made sure it was responsive (did font too) 
      learned from: https://css-tricks.com/viewport-sized-typography/*/
    width: 50vw;
    /* font-size: 2vmin; */
    /*Changed paragraph margins to 10
      
      LEARNED FROM https://stackoverflow.com/questions/8184958/add-space-between-html-elements-only-using-css*/
    /* margin-top: 1rem; */
}

/* STYLE GUIDE */

.text-container {
    display: inline-block;
    vertical-align: middle;
}

.element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: black;
}

.nav {
    font-family: 'PPNeueMontreal-Book';
}

.button-nav {
    display: inline-block;
    padding: 0.5rem;
    color: black;
    /* background-color: #E39371; */
    text-decoration: none;
    border-radius: 0.25em;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.button-nav:hover,
.button-nav:focus {
    color: #E39371;
    /* background-color: #8BA895; */
}

.button-submit, .button-reset {
    font-family: 'PPNeueMontreal-Medium';
    display: inline-block;
    border-width: 0rem;
    padding: 0.5rem;
    color: black;
    background-color: #EAD5BC;
    text-decoration: none;
    border-radius: 0.25em;
    transition-property: background-color;
    transition-duration: 0.3s;
}


.button-submit:hover,
.button-submit:focus {

    color: #FFF2EC;
    background-color: #697F6B;
}

.button-reset:hover,
.button-reset:focus {

    color: #FFF2EC;
    background-color: #E39371;
}

code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
}


section {
    /* margin-top: 1rem; */
    /*Added space between sections
      Learned from: https://stackoverflow.com/questions/8184958/add-space-between-html-elements-only-using-css*/
}


.in-text-link {
    /* background-color: #dedede; */
    color: #000;
}

.in-text-link:hover {
    /* background-color: #aaa; */
    color: #697F6B;
    text-decoration: none;

    /*Added hover state to in-text link
      
      LEARNED FROM: https://zellwk.com/blog/style-hover-focus-active-states/*/
}

.in-text-link:focus {
    outline: lightskyblue;
    box-shadow: 0 0 0 3px lightskyblue;
    /*added focus state to in-text link
      LEARNED FROM https://zellwk.com/blog/style-hover-focus-active-states/*/
}

.radio-button {
    /* padding: 1rem;
    border-width: 0rem;
    border-radius: 0.25em;
    background-color: floralwhite;
    font-family: 'PPNeueMontreal-Book', sans-serif; */
}

a:hover,
a:focus {
    /* color: mediumseagreen; */
}


a img:hover,
a img:focus {
    opacity: 0.8;
    /* border: 3px solid;
      border-color: #8BA895; */
    /* padding: 2px; */
}


/* STYLED THE TEXT INPUT 
  
  LEARNT FROM: https://learn.shayhowe.com/html-css/building-forms/*/

.input {
    width: 27rem;
    padding: 50px 20px 50px 20px;
    background: #f0f0f2;
}

.submit-name {}

.submit-name .btn {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    margin-left: 6rem;

    background-color: #E39371;
    border: 0;
    color: black;
    cursor: pointer;

    border-radius: 0.25em;
    padding: 8px 16px;

}

.submit-name .btn:focus,
.submit-name .btn:hover {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    margin-left: 6rem;
    border-radius: 0.25em;
    background-color: blanchedalmond;
    border: 0;
    color: #010100;
    cursor: pointer;

    padding: 8px 16px;

}

.text-input {
    margin-bottom: 2rem;
    font-family: 'PPNeueMontreal-Book', sans-serif;
}

.text-input:hover {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    background: #dedede;

}

.text-input:focus {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    background: lightskyblue;

}


.input-label {}


/* Payment from https://www.w3schools.com/howto/howto_css_checkout_form.asp */

/* Style for form rows */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

/* Style for form columns */
.col-50 {
    flex: 50%;
    /* padding: 0 10px; */
}

.col-75 {
    flex: 75%;
    padding: 0 10px;
}

/* Style for form fields */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
    width: calc(100% - 24px);
    /* Adjust the width as needed */
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    background-color: #f2f2f2;
    /* padding: 5px 20px 15px 20px; */
    padding: 1em;
    border: 1px solid lightgrey;
    border-radius: 3px;
}


icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}




.checkout btn:hover {
    background-color: #45a049;
}

span.price {
    float: right;
    color: grey;
}

/* PRODUCTS */
.shop-heading-names {
    font-size: 4rem;
    margin-bottom: 0.5em;
}

.description-ahref {
    font-size: 0.7rem;
}

/* CART */

.cart-item{
    display: flex;
    align-items: top;
    margin-bottom: 3rem;
}

.cart-image{
    width: 10rem;
    margin-right: 10rem;
    background-color: #45a049;
    padding: 0;
}

.amount-input{
    height: 2rem;
    width: 4rem;
    margin-right: 10rem;
}

.cart-total-price{
    color: #000;
    font-family: 'PPNeueMontreal-Medium';
    font-style: normal;
    padding: 0;
    margin: 0;
    align-items: center;
}

.cart-name-remove{
    width: 25rem;
    margin-top: 0;
    padding: 0;
}

.cart-item-name{
    font-family: 'PPNeueMontreal-Medium';
}

.cart-item-remove{
    margin-top: -0.5rem;
}

.cart-headings{
    margin-top: 2rem;
}

.cart-total{
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: #898a8c;
}

.total-price{
    margin-left: 20rem;
    font-size: 1.22rem;
}

.total-price-number{
    margin-left: 4rem;
    font-family: 'PPNeueMontreal-Medium';
}

.cart-container{
    margin-top: 2rem;
    margin-left: 2rem;
}

#first-name-cart, #last-name-cart{
    width: 19.5rem;
}

#first-name-cart{
    margin-right: 1rem;
}

#email-cart, #address-line-1-cart, #address-line-2-cart, #phone-number-cart{
    width: 40rem;
}

#city-cart{
    width: 20rem;
    margin-right: 1rem;
}

#province-cart{
    margin-right: 1rem;
}

#postal-code-cart{
    width: 5.5rem;
}

#full-name-cart, #card-number-cart{
    width: 40rem;
    margin-right: 1rem;
}

#expiry-month-cart{
    width: 15rem;
    margin-right: 1rem;
}

#expiry-year-cart{
    width: 15rem;
    margin-right: 1rem;
}

#cvv-cart{
    width: 8rem;
}



/* BRANDING */

.colour-teal {
    color: #B6CDB8;
}

.colour-olive {
    color: #AC9D76;
}

.colour-tan {
    color: #E39371;
}

.colour-off-white {
    color: #FFF2EC;
    background-color: #010100;
}

.art-direction-images {
    display: flex;
}

.art-direction-img {
    width: 20em;
    height: 100%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}

.Shop button {
    margin-left: 10rem;
}



.proceed-button {


    margin-top: 1rem;
    margin-left: 42rem;
    display: inline-block;
    border-width: 0rem;
    padding: 0.5rem;
    color: black;
    background-color: #E39371;
    text-decoration: none;
    border-radius: 0.25em;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.proceed-button:hover,
.proceed-button:focus {
    background-color: #8BA895;
}

/* END OF STYLE GUIDE */

/* INDEX / LANDING PAGE */

.header{
    display: flex;
    background-color: #fffaf0;
    width: 100%;
    margin: 0;
}

.logo {
    color: #8BA895;
    /* Adjust width as needed */
    height: 5em;
    width: auto;
    /* Maintain aspect ratio */
    padding: 1em;
    justify-content: center;
    align-items: center;
    /* Adjust padding as needed */
    margin: 2em;
    margin-right: 8.5em;
}

.logo-container {
    display: inline-block;
    vertical-align: middle;
    /* margin-right: 10em; */
    /* Adjust margin as needed */
}

.index-headers, .login-headers, .contact-headers, .cart-headers{
    margin-left: 2rem;
    margin-top: 4rem;
}

.Shop .in-text-link{
    font-family: 'PPNeueMontreal-Bold', serif;
    color: #000;
    vertical-align: middle;
    max-width: 50%;
    margin: 0 auto;
}

.Shop .in-text-link:hover, .Shop .in-text-link:focus{
    color: #D07E5A;
}

.shop-col-flex{
    display: flex;
}

.shop-col-flex .material{
    width: 60%;
    vertical-align: bottom;
}

.shop-col-flex .button-submit {
    margin-left: 0;
}

.index-our-story{
    margin-top: 2rem;
}

.index-our-story .our-story{
    display: flex;
    margin-left: 2em;
}

.our-story-img{
    width: 100%
}

.our-story-div{
    margin-left: 1em;
}

.our-story .our-story-p{
    align-items: center;
    font-size: 1.2rem;
    max-width: 70%;
    margin-top: 0;
}

.our-story .in-text-link:hover, .our-story .in-text-link:focus{
    color: #D07E5A; 
    transition: color 0.5s;
}

/* NAVIGATION */

.nav-bar ul {
    list-style-type: none;
    margin-bottom: 1rem;
    padding: 1rem;
    overflow: hidden;
    /* background-color: #fffaf0; */
    display: flex;
    /* justify-content: space-around; */
}

.nav-bar ul li a {
    display: block;
    color: black;
    text-align: center;
    /* padding: 14px 16px; */
    padding: 1em 1.5em;
    margin: 2em;
    text-decoration: none;
}

.nav-bar ul li a:hover,
.nav-bar ul li a:focus {
    color: #E39371;
}

/* END OF NAVIGATION */

/* FOOTER */

.footer{
    background: #FFFAF0;
    overflow: hidden;
    padding: 2rem;
    margin-top: 5rem;
}

.footer-flex{
    display: flex;
    /* background-color: #697F6B; */
}

#footer-section0{
    /* background-color: #45a049; */
}

#footer-section1{
    margin-left: 10%;
    right: 0;
    width: 15%;
    /* background-color: rgb(221, 73, 97); */
}

#footer-section2{
    flex: 0;
    width: 10%;
    /* background-color: #943ed5; */
}

.footer-header{
    color: #000;
    transition: color 0.5s ease;
}

.footer-link-text{
    color: #000;
    text-decoration: none;
    transition: color 0.5s ease;
    /* padding: 0; */
}

.footer-link-text:hover, .footer-link-text:focus, .footer-header:hover, .footer-header:focus{
    color: #E39371;
}


/* END OF FOOTER */

.shopping-cart-icon{
    width: 3em;
    align-items: center;
    display: inline-block;
    margin: 4em;
}

.index-hero .hero-image{
    background-image: url(../images/index-hero.png);
    background-size: cover;
    z-index: -1;
    padding-bottom: 10rem;
    margin: 0;
}

.index-hero h3{
    margin: 0;
    margin-top: 0.5rem;
}
.index-hero h2{
    margin: 0;
}

.hero-text{
    color: #FFFAF0;
    padding-top: 15em;
    text-align: right;
    right: 10rem;
    transition: color 0.5s ease;
}

.hero-text:hover, .hero-text:focus{
    color: #D07E5A;
    transition: color 0.5s ease;
}

.hero-link{
    text-decoration: none;
}

.hero-title{
    width: 90%;
    /* background-color: #E39371; */
}

.hero-cta{
    margin: 0;
    padding: 0;
    width: 90%;
    /* background-color: #45a049; */
}

/* END OF INDEX / LANDING PAGE */

/* ABOUT PAGE */



/* END OF ABOUT PAGE */


/* EVENTS PAGE */


/* END OF EVENTS PAGE */


/* CONTACT PAGE */
.contact-hero .hero-image{
    background-image: url(../images/contact-hero.jpg);
    background-size: cover;
    z-index: -1;
    padding-bottom: 20rem;
    margin: 0;
}

.contact-hero .hero-image h2{
    color: #FFFAF0;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    margin-left: 2em;
    /* background-color: #45a049; */
    text-align: left;
}

.contact-form{
    margin-top: 3rem;
    margin-left: 2rem;
    padding-bottom: 3rem;
}

#message{
    width: 40rem;
    height: 10rem;
}


/* END OF CONTACT */

/* LOGIN / CREATE ACCOUNT */

.hero-logo{
    padding-top: 0;
    padding-left: 2rem;
}

.login-hero .hero-image{
    background-image: url(../images/login-hero.jpg);
    background-size: cover;
    z-index: -1;
    padding-bottom: 20rem;
    margin: 0;
}
.login-hero .hero-image h2{
    color: #697F6B;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    margin-left: 2em;
    /* background-color: #45a049; */
    text-align: left;
}

.login-hero .hero-link{
    text-decoration: none;
}

.login-hero .hero-title{
    width: 90%;
    /* background-color: #E39371; */
}

.sign-in-form{
    margin-top: 3rem;
    margin-left: 2rem;
    padding-bottom: 3rem;
    
    border-bottom: #D9D9D9;
    border-bottom-style: solid;
    border-bottom-width: 0.15rem;
}

.no-divider{
    margin-top: 3rem;
    margin-left: 2rem;
    padding-bottom: 3rem;
    
    border:none;
    border-bottom: none;
}

.signin-flex{
    display: flex;
}

.first-name-form{
    margin-right: 1rem;
}

#first-name-signin, #last-name-signin{
    width: 19.5rem;
}

#email, #password, #address-line-1, #address-line-2, #phone-number{
    width: 40rem;
}

.form-module-flex{
    display: flex;
}

#city{
    width: 20rem;
    margin-right: 1rem;
}

#province{
    margin-right: 1rem;
}

#postal-code{
    width: 5.5rem;
}

/* END OF LOGIN / CREATE ACCOUNT */

/* INDIVIDUAL PRODUCT LISTINGS */

.product-details{
    display: flex;
    margin-left: 4rem;
    margin-top: 4rem;
    padding-bottom: 5%;

    border-bottom: #D9D9D9;
    border-bottom-style: solid;
    border-bottom-width: 0.15rem;
}

.product-individual-photo{
    width: 30rem;
    height: 30rem;
    border: #D9D9D9;
    border-style: solid;
    border-width: 0.15rem;
}

.product-details-info{
    margin-left: 5%;
}

.product-details-top{
    padding-bottom: 5%;
    border-bottom: #D9D9D9;
    border-bottom-style: solid;
    border-bottom-width: 0.15rem;
}

.product-details-name{
    /* background-color: #D07E5A; */
    margin-bottom: 0;
}

.review-stars{
    display: flex;
    align-items: center;
    /* background-color: #45a049; */
}

#five-stars, #four-stars, #three-stars{
    width: 15%;
    height: 15%;
}

.num-reviews{
    align-items: center;
    margin-left: 1rem;
}

.num-reviews-ahref{
    color: #000;
    transition: color 0.3s ease;
}

.num-reviews-ahref:hover, .num-reviews-ahref:focus{
    color: #D07E5A;
    transition: color 0.3s ease;
}

.product-price-amount-cart{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.product-details-price{
    font-family: 'PPNeueMontreal-Medium';
    width: 8%;
    font-size: 1.3rem;
    margin-right: 3%;
}

.product-amounts{
    height: 2rem;
    width: 4rem;
    /* background-color: #8BA895; */
    margin-right: 5%;
}

.size-options{
    display: flex;
}

.button-size{
    width: 7%;
    margin-right: 1%;
}

.product-size-heading{
    font-size: 1.2rem;
}

.product-details-bottom{
    margin-top: 5%;
}

.product-description{
    width: 75%;
}

.reviews{
    margin-left: 4rem;
    padding-top: 4rem;
    padding-bottom: 5%;
}

.review-block{
    padding-bottom: 5%;
    border-bottom: #D9D9D9;
    border-bottom-style: solid;
    border-bottom-width: 0.15rem;

    margin-top: 5%;
}

.review-heading{
    font-size: 1.3rem;
}

/* #review-stars{ */
.stars-reviews{
    width: 10%;
}

.review-info{
    display: flex;
    width: 75%;
}

.review-details{
    font-family: 'PPNeueMontreal-Medium';
}

.review-name{
    width: 25%;
    /* background-color: #355638; */
}

.review-size{
    width: 15%;
    /* background-color: #B6CDB8; */
}

.review-date{
    width: 25%;
    /* background-color: #0c7415; */
}

.review-location{
    width: 30%;
    /* background-color: #dbffde; */
}

/* END OF INDIVIDUAL PRODUCT LISTINGS */

/* THANK YOU FORM */

/* END OF THANK YOU FORM */

/* Responsive adjustments */
@media (max-width: 800px) {
    .proceed-button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 80%;
    }
}

.Shopcontainer {
    max-width: 90%;
    padding-top: 2rem;
    margin: 0 auto;
}


.Shop img {
    /* width: 250px;
    height: 250px; */
    width: 90%;
    max-width: 100%;
}

.Shop {
    width: 20%;
    /* margin: 0 auto; */
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    margin-right: 2rem;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .Shop {

        width: 100%;
    }
}

.product_bar {
    padding-top: 2rem;
    padding-top: 2rem;
}


/* Used https://www.w3schools.com/css/css_rwd_intro.asp to learn responsiveness*/