@font-face {
    font-family: 'PPNeueMontreal-Book';
    src: url(../fonts/PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: 'PPNeueMontreal-Medium';
    src: url(../fonts/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: 'Univers';
    src: url(../fonts/UniversLTStd-Light.otf);
}

@font-face {
    font-family: 'PPNeueMontreal-Bold';
    src: url(../fonts/PPNeueMontreal-Bold.otf);
}

body {
    background-color: whitesmoke;

    font-family: 'PPNeueMontreal-Book', monospace;
    /*Changed default font to Monaco - monospace 
      Learned from: https://www.w3schools.com/css/css_font.asp*/

    overflow-x: hidden;
}

h1 {
    color: black;
    font-family: 'Univers', serif;
    font-size: 1.7em;
}

h2 {
    color: black;
    font-size: 1.5em;
    font-family: 'Univers', serif;
    
}

h3 {
    color: black;
    font-family: 'PPNeueMontreal-Bold', serif;
    font-size: 1em;
}

p {

    font-family: 'PPNeueMontreal-Book', sans-serif;
    /* Shortened default width of paragraph but made sure it was responsive (did font too) 
      learned from: https://css-tricks.com/viewport-sized-typography/*/
    width: 50vw;
    /*Changed paragraph margins to 10
      
      LEARNED FROM https://stackoverflow.com/questions/8184958/add-space-between-html-elements-only-using-css*/
    /* margin-top: 1rem; */
}

/* DEFAULT STYLINGS */

.text-container {
    display: inline-block;
    vertical-align: middle;
}

.element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: black;
}

.nav {
    font-family: 'PPNeueMontreal-Book';
}

.button-nav {
    display: inline-block;
    padding: 0.5rem;
    color: black;
    text-decoration: none;
    border-radius: 0.25em;
    transition-property: color 0.5s ease;
}

.button-nav:hover,
.button-nav:focus {
    color: #E39371;
    transition-property: color 0.5s ease;
}

.button-submit, .button-reset {
    font-family: 'PPNeueMontreal-Medium';
    display: inline-block;
    border-width: 0rem;
    padding: 0.5rem;
    color: black;
    background-color: #EAD5BC;
    text-decoration: none;
    border-radius: 0.25em;
    transition-property: background-color 0.3s ease;
}


.button-submit:hover,
.button-submit:focus {
    color: #FFF2EC;
    background-color: #697F6B;
    transition-property: background-color 0.3s ease;
}

.button-reset:hover,
.button-reset:focus {
    color: #FFF2EC;
    background-color: #E39371;
    transition-property: background-color 0.3s ease;
}

code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
}

.in-text-link {
    color: #000;
}

.in-text-link:hover {
    color: #697F6B;
    text-decoration: none;
    /*Added hover state to in-text link      
      LEARNED FROM: https://zellwk.com/blog/style-hover-focus-active-states/
    */
}

.in-text-link:focus {
    outline: lightskyblue;
    box-shadow: 0 0 0 3px lightskyblue;
    /*added focus state to in-text link
      LEARNED FROM https://zellwk.com/blog/style-hover-focus-active-states/
    */
}


a img:hover,
a img:focus {
    opacity: 60%;
}


/* STYLED THE TEXT INPUT 
  
  LEARNT FROM: https://learn.shayhowe.com/html-css/building-forms/*/

.input {
    width: 27rem;
    padding: 50px 20px 50px 20px;
    background: #f0f0f2;
}

.submit-name .btn {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    margin-left: 6rem;

    background-color: #E39371;
    border: 0;
    color: black;
    cursor: pointer;

    border-radius: 0.25em;
    padding: 8px 16px;

}

.submit-name .btn:focus,
.submit-name .btn:hover {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    margin-left: 6rem;
    border-radius: 0.25em;
    background-color: blanchedalmond;
    border: 0;
    color: #010100;
    cursor: pointer;

    padding: 8px 16px;
}

.text-input {
    margin-bottom: 2rem;
    font-family: 'PPNeueMontreal-Book', sans-serif;
}

.text-input:hover {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    background: #dedede;
}

.text-input:focus {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    background: lightskyblue;
}

/* Style for form rows */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

/* Style for form columns */
.col-50 {
    flex: 50%;
}

.col-75 {
    flex: 75%;
    padding: 0 10px;
}

/* Style for form fields */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
    width: calc(100% - 24px);
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    background-color: #f2f2f2;
    padding: 1em;
    border: 1px solid lightgrey;
    border-radius: 3px;
}


icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.checkout btn:hover {
    background-color: #45a049;
}

span.price {
    float: right;
    color: grey;
}

/* PRODUCTS */
.shop-item-names {
    font-size: 1.2rem;
}

.description-ahref {
    font-size: 0.7rem;
}

.product-grid-img{
    width: 90%;
    height: 90%;
}

.shop-heading-names {
    font-size: 4rem;
    margin-bottom: 0.5em;
}

.description-ahref {
    font-size: 0.7rem;
}


/* Drop down menu product page */
/* Learned from: https://blog.hubspot.com/website/html-dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 2rem;
    margin-left: 5rem;
}

.dropbtn {
  font-family: PPNeueMontreal-Medium;
  font-size: 14px;
  padding: 10px 20px;
    border: 0.5px solid black; 
  outline: none; 
  border-radius: 5px; 
  background-color: whitesmoke;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  padding: 12px 16px;
}

.dropdown-content a {
  color: black;
  padding: 6px 0;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
    color: whitesmoke;
  background-color: #697F6B;
}

/*END OF PRODUCTS */

/* BRANDING */

.colour-teal {
    color: #B6CDB8;
}

.colour-olive {
    color: #AC9D76;
}

.colour-tan {
    color: #E39371;
}

.colour-off-white {
    color: #FFF2EC;
    background-color: #010100;
}

.art-direction-images {
    display: flex;
}

.art-direction-img {
    width: 20em;
    height: 100%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}

.Shop button {
    margin-left: 10rem;
}

.proceed-button {
    margin-top: 1rem;
    margin-left: 42rem;
    display: inline-block;
    border-width: 0rem;
    padding: 0.5rem;
    color: black;
    background-color: #E39371;
    text-decoration: none;
    border-radius: 0.25em;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.proceed-button:hover,
.proceed-button:focus {
    background-color: #8BA895;
}

/* END OF BRANDING */

/* NAVIGATION BAR */

nav {
    background-color: #FFFAF0;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.left-nav {
    display: flex;
    align-items: center;
}

.left-nav a {
    color: black;
 opacity: 90%;
    text-decoration: none;
    margin-right: 1.5rem;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.left-nav a:hover {
    color: #E39371;
}

.right-nav {
    display: flex;
    align-items: center;
}

.right-nav a {
    color: black;
 opacity: 90%;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.right-nav a:hover {
   color: #E39371;
}

.cart-icon {
    width: 26px; /* Set the width and height of the cart icon */
    height: 24px;
    background-image: url(../images/bag.png);
    background-size: cover;
}

.cart-icon:hover, .cart-icon:focus {
    opacity: 50%;
}

@media only screen and (max-width: 768px) {
    nav {
        padding: 0 1rem; /* Adjusted padding for smaller screens */
    }

    .left-nav,
    .right-nav {
        margin: 0; /* Reset margin */
    }
  
    .right-nav a:nth-child(1) {
        white-space: nowrap; /* Ensure "Style Guide" stays on one line */
    }
}

/* INDEX / LANDING PAGE */
.index-headers, .login-headers, .contact-headers{
    margin-left: 2.5rem;
    margin-top: 4rem;
}

.shopping-cart-icon{
    width: 3em;
    align-items: center;
    display: inline-block;
    margin: 4em;
}

.index-hero .hero-image{
    background-image: url(../images/index-hero.png);
    background-size: cover;
    z-index: -1;
    padding-bottom: 2rem;
    margin: 0;
}

.hero-text{
    color: #FFFAF0;
    padding-top: 5em;
    text-align: right;
    right: 10rem;
    transition: color 0.5s ease;
}

.Shop .in-text-link{
    margin-left: 4rem;
}

.hero-text:hover, .hero-text:focus{
    color: #D07E5A;
    transition: color 0.5s ease;
}

.hero-link{
    text-decoration: none;
    background-color: #45a049;
}

.hero-title{
    width: 90%;
}

.hero-cta{
    font-style: normal;
    font-size: 80%;
    margin: 0;
    padding: 0;
}

.shop-col-flex{
    display: flex;
    align-items: center;
    margin-top: -0.75rem;
}

.shop-col-flex .material{
    width: 60%;
    vertical-align: bottom;
}

.shop-col-flex .button-submit {
    margin-left: 0;
}

.index-our-story{
    margin-top: 2rem;
}

.index-our-story .our-story{
    display: flex;
    margin-left: 2em;
}

.our-story-img{
    flex:1;
    width: 26rem
}

.homeicons {
    margin-top: 2rem;
    margin-left: 4rem;
    flex:3;
    width: 70%; 
    align-content: right;
        opacity: 90%;
}

.our-story-div{
    margin-left: 2.5em;    
}


.our-story .our-story-p{
    margin-left: 4rem;
    align-items: center;
    width: 70%; 
    margin-top: 1rem;
    line-height: 5vh;
}



@media (max-width: 800px) {

    .Shop .product-grid-img{
        width: 50%;
        height: 50%;
    }

    .shop-col-flex .material{
        width: 35%;
        vertical-align: bottom;
    }

    .index-our-story .our-story{
        display: inline;
        margin-left: 2em;
   
    }
  

    .our-story-img{
        width: 50%;
    }
}

/* ALL PAGE HERO IMAGES */

.about-hero .hero-image{
    background-image: url(../images/woolbeach.jpg);
    background-size: cover;
    z-index: -1;
    padding-bottom: 7em;
    margin: 0;
}

.about-hero .hero-image h2{
    color: #697F6B;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    margin-left: 2em;
    text-align: left;
}

.contact-hero .hero-image h2{
    color: #FFFAF0;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    margin-left: 2em;
    text-align: left;
}

.event-hero .hero-image{
    background-image: url(../images/clothing-swap.png);
    background-size: cover;
    z-index: -1;
    padding-bottom: 5rem;
    margin: 0;
}

.event-hero .hero-image h2{
    color: #697F6B;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    margin-left: 2em;
    text-align: left;
}

.products-hero .hero-image{
    background-image: url(../images/hero.png);
    background-size: cover;
    z-index: -1;
    padding-bottom: 5rem;
    margin: 0;
}

.products-hero .hero-image h2{
    color: #697F6B;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    margin-left: 2em;
    text-align: left;
}

.hero-text{
    color: #FFFAF0;
}

.hero-cta{
    margin-top: -0.005em;
    margin-left: 2rem;

}

.hero-logo{
    margin-left: 1rem;
     margin-top: 1rem;

}

/* END OF INDEX / LANDING PAGE */
/* END OF ALL PAGE HERO IMAGES */

/* ABOUT PAGE */

.about-column {
  display: flex;
  justify-content: space-between; /* Distribute columns evenly */
  margin: 1rem; /* Add margin around the container */
}

.column {
  flex: 1; /* Each column takes up equal space */
}

.image-column {
  padding: 2rem; /* Add padding to the image column */
}

.image-column img {    
  max-width: 100%; /* Ensure the image does not exceed its container */
  height: auto; /* Maintain aspect ratio */
}

.text-column p {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    line-height: 2.5; /* Increase line spacing (adjust as needed) */
    font-size: 1rem; /* Adjust the font size of the text (adjust as needed) */
}

.icons {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
            opacity: 90%;
}

.aboutlogo {
    width: 25%; /* Adjust the width as needed */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
}
/* END OF ABOUT PAGE */

/* CONTACT PAGE */

.contact-hero .hero-image{
    background-image: url(../images/contact-hero.jpg);
    background-size: cover;
    z-index: -1;
    padding-bottom: 20rem;
    margin: 0;
}

.contact-hero .hero-image h2{
    color: #FFFAF0;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    margin-left: 2em;
    text-align: left;
}

.contact-form{
    margin-top: 3rem;
    margin-left: 2rem;
    padding-bottom: 3rem;
}

#message{
    width: 40rem;
    height: 10rem;
}

/* END OF CONTACT */

/* LOGIN / CREATE ACCOUNT */

.hero-logo{
    padding-top: 0;
    padding-left: 2rem;
}

.login-hero .hero-image{
    background-image: url(../images/login-hero.jpg);
    background-size: cover;
    z-index: -1;
    padding-bottom: 5rem;
    margin: 0;
}
.login-hero .hero-image h2{
    color: #697F6B;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    margin-left: 2em;
    text-align: left;
}

.login-hero .hero-link{
    text-decoration: none;
}

.login-hero .hero-title{
    width: 90%;
}

.sign-in-form{
    margin-top: 3rem;
    margin-left: 2rem;
    padding-bottom: 3rem;
    
    border-bottom: #D9D9D9;
    border-bottom-style: solid;
    border-bottom-width: 0.15rem;
}

.no-divider{
    margin-top: 3rem;
    margin-left: 2rem;
    padding-bottom: 3rem;
    
    border:none;
    border-bottom: none;
}

.signin-flex{
    display: flex;
}

.first-name-form{
    margin-right: 1rem;
}

#first-name-signin, #last-name-signin{
    width: 19.5rem;
}

#email-signin, #password-signin, #address-line-1-signin, #address-line-2-signin, #phone-number-signin, #email-signin1, #password-signin1{
    width: 40rem;
}

.form-module-flex{
    display: flex;
}

#city-signin{
    width: 20rem;
    margin-right: 1rem;
}

#province-signin{
    margin-right: 1rem;
}

#postal-code-signin{
    width: 5.5rem;
}

 @media (max-width: 800px) {
    .login-headers{
        text-align: center;
        margin-left: 0;
    }
    .sign-in-form{
        margin-left: 2%;
        align-items: center;
        text-align: center;
    }

    .form-module-flex, .signin-flex{
        display: inline;
    }

    .first-name-form{
        margin-right: 0;
    }

    #email-signin, #password-signin, #address-line-1-signin, #address-line-2-signin, #phone-number-signin, #first-name-signin, #last-name-signin, #city-signin, #postal-code-signin, #email-signin1, #password-signin1{
        width: 65vw;
    }

    #city-signin{
        margin-right: 0;
    }

    .form-region select{
        width: 65vw;
    }   

 }

 @media (max-width: 350px) {
    .sign-in-form{
    }

    #email-signin, #password-signin, #address-line-1-signin, #address-line-2-signin, #phone-number-signin, #first-name-signin, #last-name-signin, #city-signin, #postal-code-signin, #email-signin1, #password-signin1{
        width: 80vw;
    }

    .form-region select{
        width: 80vw;
    }   
 }

/* END OF LOGIN / CREATE ACCOUNT */

/* CART */
.Shopcontainer {
    max-width: 90%;
    padding-top: 2rem;
    margin: 0 auto;
}


.Shop {
    width: 20%;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    /* margin-right: 2rem; */
    margin-left: 2rem;
}

.product_bar {
    margin-left: 2rem;
    padding-top: 2rem;
}

.cart-item{
    display: flex;
    align-items: top;
    margin-bottom: 3rem;
} 

.cart-image{
    width: 10rem;
    margin-right: 10rem;
    background-color: #45a049;
    padding: 0;
}

.amount-input{
    height: 2rem;
    width: 6rem;
    margin-right: 10rem;
}

.cart-total-price{
    color: #000;
    font-family: 'PPNeueMontreal-Medium';
    font-style: normal;
    padding: 0;
    margin: 0;
    align-items: center;
}

.cart-name-remove{
    width: 25rem;
    margin-top: 0;
    padding: 0;
}

.cart-item-name{
    font-family: 'PPNeueMontreal-Medium';
}

.cart-item .in-text-link{
    margin-top: -0.5rem;
}

.cart-headings{
    margin-top: 2rem;
}

.cart-total{
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: #D9D9D9;
}

.total-price{
    margin-left: 20rem;
    font-size: 1.22rem;
}

.total-price-number{
    margin-left: 24rem;
    font-family: 'PPNeueMontreal-Medium';
}

.cart-container{
    margin-top: 2rem;
    margin-left: 2rem;
}

.cart-containers{
    margin-top: 2rem;
    margin-left: 5%;
}

.cart-header{
    margin-top: 5%;
    margin-left: 2rem;
}

.cart-headers{
    margin-left: 5%;
    margin-top: 5%;
}

#first-name-cart, #last-name-cart{
    width: 19.5rem;
}

#first-name-cart{
    margin-right: 1rem;
}

#email-cart, #address-line-1-cart, #address-line-2-cart, #phone-number-cart{
    width: 40rem;
}

#city-cart{
    width: 20rem;
    margin-right: 1rem;
}

#province-cart{
    margin-right: 1rem;
}

#postal-code-cart{
    width: 5.5rem;
}

#full-name-cart, #card-number-cart{
    width: 40rem;
    margin-right: 1rem;
}

#expiry-month-cart{
    width: 15rem;
    margin-right: 1rem;
}

#expiry-year-cart{
    width: 15rem;
    margin-right: 1rem;
}

#cvv-cart{
    width: 8rem;
}

.radio-button{
    width: 65%;
}

@media (max-width: 1050px) {

    .cart-image{
        margin-right: 5vw;
        width: 5rem;
    }

    .cart-name-remove{
        margin-right: 30vw;
    }

    .amount-input{
        margin-right: 20vw;
    }

    .cart-name-remove{
        width: 10vw;
    }

    .total-price{
        margin-left: 10vw;
    }
    
    .total-price-number{
        margin-left: 10vw;
    }
}

@media (max-width: 800px) {

    .login-headers{
        text-align: center;
        margin-left: 0;
    }
    .sign-in-form{
        margin-left: 2%;
        align-items: center;
        text-align: center;
    }

    .form-module-flex, .signin-flex{
        display: inline;
    }

    .first-name-form{
        margin-right: 0;
    }

    #first-name-cart, #last-name-cart, #email-cart, #address-line-1-cart, #address-line-2-cart, #phone-number-cart, #city-cart, #province-cart, #postal-code-cart, #full-name-cart, #card-number-cart, #expiry-month-cart, #expiry-year-cart, #cvv-cart{
        width: 65vw;
    }

    #city, #first-name-cart{
        margin-right: 0;
    }

    .form-region select{
        width: 65vw;
    }   

 }

 @media (max-width: 700px) {
    .cart-item{
        display: inline;
        margin-bottom: 5vh;
    }

    .cart-image{
        width: 30vw;
    }

    .cart-total{
        margin-bottom: 40%;
    }
 }

 @media (max-width: 350px) {
    #first-name-cart, #last-name-cart, #email-cart, #address-line-1-cart, #address-line-2-cart, #phone-number-cart, #city-cart, #province-cart, #postal-code-cart, #full-name-cart, #card-number-cart, #expiry-month-cart, #expiry-year-cart, #cvv-cart{
        width: 80vw;
    }

    .cart-image{
        width: 60vw;
    }
 }

/* FOOTER */

.footer{
    background: #FFFAF0;
    overflow: hidden;
    padding: 3%;
    margin-top: 5rem;
}

.footer-logo{
    height: 5em;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}

.footer-flex{
    display: flex;
}

#footer-section1{
    margin-left: 10%;
    right: 0;
    width: 6%;
    margin-right: 5%;
}

#footer-section2{
    flex: 0;
    width: 7%;
    margin-right: 15%;
}

#footer-section3{
    margin-right: 5%;
}

.footer-header{
    color: #000;
    transition: color 0.5s ease;
}

.footer-link-text{
    color: #000;
    text-decoration: none;
    transition: color 0.5s ease;
}

.footer-link-text:hover, .footer-link-text:focus, .footer-header:hover, .footer-header:focus{
    color: #E39371;
}

#newsletter-email{
    width: 12rem;
}

@media (max-width: 1000px) {
    #footer-section{
        margin-left: 1%;
    }

    #footer-section1{
        margin-left: 5%;
        margin-right: 8%;
    }

    #footer-section2{
        margin-right: 8%;
    }
    
    #footer-section3{
        margin-right: 2%;
    }

    .footer-links{
        font-size: 80%;
    }

    .footer-sign-up, .newsletter-email{
        font-size: 80%;
    }
}

@media (max-width: 800px) {
    .footer{
        background: #FFFAF0;
        overflow: hidden;
        padding: 0;
        margin: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .footer-flex{
        display: inline;
    }

    .footer-logo{
        width: 20vw;
        height: auto;
        margin-top: 10%;
    }

    #footer-section, #footer-section1, #footer-section2, #footer-section3, #footer-section4{
        margin: 0;
        padding: 0;
    }

    #footer-section1, #footer-section4{
        margin-left: 23%;
    }

    #footer-section2{
        margin-top: 10%;
        margin-left: 23%;
    }

    #footer-section3, #footer-section4{
        margin-top: 10%;
    }

    .footer-links{
        font-size: 100%;
        text-align: center;
    }

    .footer-link-header{
        font-weight: bold;
    }

    #newsletter-email{
        width: 60vw;
    }
}


/* END OF FOOTER */

/* EVENTS PAGE */

.calendar {
    max-width: 20rem;
    margin: 0 auto;    
    margin-right: 30rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 0.1px solid #ddd;
    text-align: center;
    padding: 0.6rem;
}

th {
    background-color: #f2f2f2;
}

.today {
    background-color: #e6e6e6;
}

.highlight {
    background-color: #8BA895;
}

.about-column .form-module-flex{
    align-items: center;
    text-align: center;
}

.events-rsvp{
    margin-top: 2%;
}
.events-container {   
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 0rem;
}

.events-list {
  list-style-type: none;
  padding: 0;
}

.event {
  margin-bottom: 6%; 
  display: flex;
}

.event img {
  width: 10vw;
  height: 10vw;
  margin-right: 5%;
}

.event-details h3{
    margin: 0;
}

.event .event-details {
  flex: 1;
}

.event p {
  margin: 0;
}

@media (max-width: 1200px){
    .about-column .text-column{
        width: 50%;
    }

    .about-column .form-module-flex{
        display: inline;
        text-align: left;
    }
}

@media (max-width: 600px){
    .about-column{
        display: inline;
        width: 100%;
        margin: 0;
    }
}



/* END OF EVENTS PAGE */

/* INDIVIDUAL PRODUCT LISTINGS */

.product-details{
    display: flex;
    margin-left: 4rem;
    margin-top: 4rem;
    padding-bottom: 5%;

    border-bottom: #D9D9D9;
    border-bottom-style: solid;
    border-bottom-width: 0.15rem;
}

.product-individual-photo{
    width: 30rem;
    height: 30rem;
    border: #D9D9D9;
    border-style: solid;
    border-width: 0.15rem;
}

.product-details-info{
    margin-left: 5%;
}

.product-details-top{
    padding-bottom: 5%;
    border-bottom: #D9D9D9;
    border-bottom-style: solid;
    border-bottom-width: 0.15rem;
}

.product-details-name{
    margin-bottom: 0;
}

.review-stars{
    display: flex;
    align-items: center;
}

#five-stars, #four-stars, #three-stars{
    width: 15%;
    height: 15%;
}

.review-flex{
    display: flex;
}

#review-name, #review-size{
    width: 19.5rem;
}

#review-name{
    margin-right: 1rem;
}

#review-city-region, #review-text{
    width: 40rem;
}

#review-text{
    height: 7rem;
}

.num-reviews{
    align-items: center;
    margin-left: 1rem;
}

.num-reviews-ahref{
    color: #000;
    transition: color 0.3s ease;
}

.num-reviews-ahref:hover, .num-reviews-ahref:focus{
    color: #D07E5A;
    transition: color 0.3s ease;
}

.product-price-amount-cart{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.product-details-price{
    font-family: 'PPNeueMontreal-Medium';
    width: 8%;
    font-size: 1.3rem;
    margin-right: 3%;
}

.product-amounts{
    height: 2rem;
    width: 4rem;
    margin-right: 5%;
}

.size-options{
    display: flex;
}

.button-size{
    width: 7%;
    margin-right: 1%;
}

.product-size-heading{
    font-size: 1.2rem;
}

.product-details-bottom{
    margin-top: 5%;
}

.product-description{
    width: 75%;
}

.reviews{
    margin-left: 4rem;
    padding-top: 4rem;
    padding-bottom: 5%;
}

.review-block{
    padding-bottom: 5%;
    border-bottom: #D9D9D9;
    border-bottom-style: solid;
    border-bottom-width: 0.15rem;

    margin-top: 5%;
}

.review-heading{
    font-size: 1.3rem;
}

/* #review-stars{ */
.stars-reviews{
    width: 10%;
}

.review-info{
    display: flex;
    width: 75%;
}

.review-details{
    font-family: 'PPNeueMontreal-Medium';
}

.review-name{
    width: 25%;
}

.review-size{
    width: 15%;
}

.review-date{
    width: 25%;
}

.review-location{
    width: 30%;
}

/* END OF INDIVIDUAL PRODUCT LISTINGS */

/* THANK YOU FORM */

.thank-you{
    margin: 4rem;
}

/* END OF THANK YOU FORM */